<!doctype html>

<html>
  <head>
    <title>Stupid Simple File Transfer - Redirect</title>
  </head>
  <body>
    <p>The other user is trying to redirect you to <a href="{{{url_quote}}}">{{{url_html}}}</a>. Click the link to continue to this site.</p>
  </body>
</html>
